{% extends 'videojuego/admin.html' %}

{% block title %} Crear Plataformas {% endblock %}

{% block content %}

<h1 class="text-center text-primary">Detalle de Plataforma</h1>

<table border="1" cellpadding="8" cellspacing="0" class="table table-bordered">

    <tr>
        <th class="bg-secondary text-light">Marca</th>
        <td>{{ object.marca }}</td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">Fabricante</th>
        <td>{{ object.fabricante }}</td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">Tipo</th>
        <td>{{ object.get_tipo_display }}</td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">Generacion</th>
        <td>{{ object.generacion }}</td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">Capacidad de disco</th>
        <td>{{ object.capacidad_disco }}</td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">GPU</th>
        <td>{{ object.gpu }}</td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">Soporte</th>
        <td> <a href="{{ object.soporte }}">{{ object.soporte }}</a> </td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">Web oficials</th>
        <td><a href="{{ object.web_oficial }}">{{ object.web_oficial }}</a></td>
    </tr>

    <tr>
        <th class="bg-secondary text-light">Modificacion</th>
        <td>
            <a href="{% url 'actualizar_plataformas' object.id %}" class="btn btn-success">Actualizar</a><br>
            <a href="{% url 'eliminar_plataformas' object.id %}" class="btn btn-danger mt-3">Eliminar</a>
        </td>
    </tr>

</table>

{% endblock %}